//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
  h1= "Login failed"
  p= "Response not related to current request"
  p
        a( href="/authenticate" ) Try again
