//-
//- Copyright 2016 (C) Diglias AB
//-
//- @author jonas
//-
extends layout

block content
  h1= "Login failed"
  p= "MAC could not be validated."
  p   
        a( href="/authenticate" ) Try again
